.site-description {
  font-size: 0.75em;
  margin-top: 1em;
  line-height: 1.75em;
}

#nav a {
  text-decoration: underline;
}

blockquote {
  text-align: left;
  border-left: 3px dashed #ddd;
  margin: 0px 50px 0px 50px;
  padding: 30px 30px 30px 50px
}

blockquote:before,blockquote:after {
  content: "";
}
